---
const { title, img, color, hasNewBadge } = Astro.props;
---

<li>
  <section class="card">
    <div class="card-content">
      <div class="card-content--item category--item" style={{ backgroundColor: color }}>
        <h3>
          <a href="#0">{title}</a>
        </h3>
        <img src={img} alt="" />
      </div>

      {
        hasNewBadge && (
          <div class="new-badge-container">
            <div class="new-badge" style={`background-color: ${color};`}>
              NEW
            </div>
          </div>
        )
      }
    </div>
  </section>
</li>

<style>
  .card {
    position: relative;
    width: 200px;
    height: 200px;
  }

  .card-content--item {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 10px;
    width: 100%;
    height: 200px;
  }
  .category--item a {
    display: block;
    height: 100%;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-top: 16px;
    padding-left: 16px;
  }

  .category--item img {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -5px;
    right: -18px;
    transform: rotate(25deg);
    z-index: 0;
    box-shadow: -1px 3px 2px 0px rgba(0, 0, 0, 0.1);
  }

  .new-badge-container {
    position: absolute;
    top: -10px;
    right: 0;
    z-index: 1;
  }

  .new-badge {
    color: white;
    border-radius: 100px;
    padding: 1px 12px;
    border: 3px solid #1e1e1e;
    font-size: 0.75rem;
  }

  li {
    list-style: none;
  }
</style>
