---
import Button from "./Button.astro";
const { hasSearch } = Astro.props;
---

<!-- Import af knapkomponenten fra Button.astro-filen + Hent værdien af hasSearch fra Astro.props


  Header-elementet indeholder Topbar på siden -->
<header class="topbar">
  <menu>
    <li>
      <button disabled>
        <!-- Venstre-pil-ikon -->
        <svg height="16" width="16" viewBox="0 0 16 16" fill="currentColor"><path d="M11.03.47a.75.75 0 0 1 0 1.06L4.56 8l6.47 6.47a.75.75 0 1 1-1.06 1.06L2.44 8 9.97.47a.75.75 0 0 1 1.06 0z"></path></svg>
      </button>
    </li>
    <li>
      <button disabled>
        <!-- Højre-pil-ikon -->
        <svg height="16" width="16" viewBox="0 0 16 16" fill="currentColor"><path d="M4.97.47a.75.75 0 0 0 0 1.06L11.44 8l-6.47 6.47a.75.75 0 1 0 1.06 1.06L13.56 8 6.03.47a.75.75 0 0 0-1.06 0z"></path></svg>
      </button>
    </li>
  </menu>

  <!--
Viser søgefeltet, hvis hasSearch er sandt

Søgeikon

Søgeinputfelt
-->
  {
    hasSearch && (
      <div class="search">
        <svg class="search-icon" height="24" width="24" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10.533 1.279c-5.18 0-9.407 4.14-9.407 9.279s4.226 9.279 9.407 9.279c2.234 0 4.29-.77 5.907-2.058l4.353 4.353a1 1 0 1 0 1.414-1.414l-4.344-4.344a9.157 9.157 0 0 0 2.077-5.816c0-5.14-4.226-9.28-9.407-9.28zm-7.407 9.279c0-4.006 3.302-7.28 7.407-7.28s7.407 3.274 7.407 7.28-3.302 7.279-7.407 7.279-7.407-3.273-7.407-7.28z" />
        </svg>
        <input type="text" placeholder="What do you want to listen to?" name="search" class="search-input" style="width: 300px; height: 40px;" />
      </div>
    )
  }
  <!-- Knappens gruppe til tilmelding og login -->
  <div class="button-group">
    <!-- Tilmeldingsknap -->
    <Button variant="tertiary" size="medium">Sign up</Button>
    <!-- Login-knap -->
    <Button variant="primary" size="medium">Log in</Button>
  </div>
</header>

<style>
  /* Topbar styling */
  .topbar {
    display: flex;
    gap: 1rem;
    align-items: center;
    background: black;
    color: white;
    padding: 1rem 2rem;
    height: 4rem;
  }

  /* Menuen til navigation */
  menu {
    display: flex;
    gap: 1rem;
    list-style: none;
  }

  /* Knapperne i menuen */
  menu button {
    display: grid;
    place-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 1000px;
    background: black;
    color: white;
  }

  /* Ikonstørrelse i knapperne */
  button svg {
    width: 1rem;
    height: 1rem;
  }

  /* Deaktiverede knapper i menuen */
  menu button[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  /* Knappens gruppes styling */
  .button-group {
    flex-shrink: 0;
    margin-left: auto;
  }

  /* Responsivitet: Skjuler den sidste menuknap ved skærme mindre end 1000px */
  @media (width < 1000px) {
    menu li:last-child {
      display: none;
    }
  }
</style>
