---
import "../styles/style.css";
import Nav from "../components/Nav.astro";
import TopBar from "../components/TopBar.astro";
import Footer from "../components/Footer.astro";
const { hasSearch } = Astro.props;
const {newBadge} = Astro.props;
---

<!--
Importér CSS-stilarket
Importér Nav-komponenten fra ../components/Nav.astro
Importér TopBar-komponenten fra ../components/TopBar.astro
Importér Footer-komponenten fra ../components/Footer.astro
Importér Footer-komponenten fra ../components/Footer.astro
Hent værdien af hasSearch fra Astro.props
Hent værdien af newBadge fra Astro.props
 -->

 <!-- Starten af HTML-dokumentet med de nødvendige metainformationer -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>
  <body>
      <!-- Inkluderer Nav-komponenten -->
    <Nav />
     <!-- Inkluderer TopBar-komponenten og sender hasSearch som en egenskab -->
    <TopBar hasSearch={hasSearch}/>
    <main>
      <!-- Hovedindholdet inkluderer indhold fra en slot og sender newBadge som en egenskab -->
 <slot newBadge={newBadge}/>
    </main>
      <!-- Inkluderer Footer-komponenten -->
    <Footer />
  </body>
</html>

